# Obsidian
.obsidian/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fichiers temporaires
*.tmp
*.temp
*.log
*.listing

# Claude
.claude/
